body {
    background: #F8F8FF
}

<h1 
{
	color: #000000;
}

p {
    text-align: center;
    color: #000000;
}

#capa {
  height: 50%;
  width : 100%;
  padding: 10px;
  margin-left: 1px;
  border: solid #000000;
}












